:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  .logo-container {
    a {
      width: fit-content;
    }
  }
  .nav-link {
    color: #fff;
    &:hover {
      color: #ccc;
      text-decoration: underline;
      cursor: pointer;
    }
    &.active {
      background-color: #ccc;
      color: #333;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }
}

@media (max-width: 575px) {
  .toolbar {
    .logo-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
